html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

li {
  list-style: none;
}
.header {
  height: 90px;
  background-color: #ff69b4;
  color: #fff;
}
.header-logo {
  font-family: sans-serif;
  float:left;
  padding: 20px 40px;
  font-size: 36px;
}
.header-list li{
  float: left;
  padding: 33px 20px;
}
.main {
  padding: 150px 150px;
}
.yabai {
  font-size: 100px;
  color: #000000;
}
span {
  color: #0000ff;
}
.majide {
  font-size: 50px;
  color: #000000;
}
.contents {
  height: 500px;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-right: 80px;
  padding-left: 80px;
}
.contents h3 {
  font-size:30px;
  padding-bottom: 15px;
  border-bottom: 2px solid #dee7ec;
  color: #000000;
}
.contents-item {
  float: left;
  padding-right:40px ;
  padding-top: 50px;
}
.contents-item p {
  font-size:28px;
  margin-top: 30px;
  color: #000000;
  margin-bottom: 60px;
}

h4, h5 {
  font-size: 24px;
  margin-top: 30px;


}
.contact-form h6 {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}
.contact-form {
  padding-top: 100px;
  padding-right: 80px;
  padding-left: 80px;
}

input, textarea {
  width: 1000px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 28px;
  border: 1px solid #dee7ec;
}

.contact-submit {
  background-color: #dee7ec;
  color: #889eab;
}
.footer-list {
  float: right;
  padding-top: 40px;
  padding-right: 40px;
}
.footer-list li {
  padding-bottom: 20px;
}
.footer-logo {
  float: left;
  font-size: 32px ;
  padding-left: 40px;
  padding-top: 40px;
}
.footer {
  height: 200px;
  background-color: #ff69b4;
  color: #fff;
}
